server:
  port:
    8080

spring:
  datasource:
    url: ${DATABASE_URL}
    driverClassName: org.h2.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          format_sql: true
  h2:
    console:
      enabled: true
springdoc:
  swagger-ui:
    path: /swagger
    api-docs:
      path: /api-docs
app:
  external-log:
    base-url: "https://httpstat.us"
    timeout-ms: 1500
    path: /200
    sleep-ms: 1000
  fx:
    USD_EUR: 0.91
    EUR_USD: 1.10
    USD_GBP: 0.78
    GBP_USD: 1.28
    EUR_GBP: 0.86
    GBP_EUR: 1.16